:root {
  --colorA: #fffcf0;
  --colorB: #7c3f58;
  --colorC: #f9a875;
  --colorD: #eb6b6f;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--colorA);
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-list-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: var(--colorB);
}

.graph-list-container__loading {
  color: var(--colorA);
}

select {
  appearance: base-select;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  font-size: 0.9rem;
  border: 2px solid var(--colorB);
  border-radius: 5px;
  background: var(--colorC);
  transition: 0.4s;
}

select:hover,
select:focus {
  border: 2px solid var(--colorD);
}

select::picker-icon {
  color: var(--colorB);
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

#graph-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#graph-container h2 {
  text-align: center;
  color: var(--colorB);
}

#graph-container svg {
  display: block;
}

.node-rect {
  fill: var(--colorC);
  stroke: var(--colorB);
  stroke-width: 2px;
  rx: 30px;
  ry: 50px;
  cursor: grab;
}

.cursor_grabbing,
.cursor_grabbing .node-rect {
  cursor: grabbing;
}

.node-text {
  font-size: 1.2rem;
  text-anchor: middle;
  dominant-baseline: middle;
}

.edge {
  stroke: var(--colorB);
}
